<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/login.css">
  <link rel="stylesheet" href="/game.css">
  <link rel="stylesheet" href="/uno-numbers.css">
  <link rel="stylesheet" href="/uno-skip.css">
  <link rel="stylesheet" href="/uno-reverse.css">
  <link rel="stylesheet" href="/uno-draw.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap" rel="stylesheet">
  <title>OHNO!</title>
</head>
<body>
  <!-- <div id="account">
    <div id="login-container">
      <div id="login-container-title">
        <div id="login-title">WELCOME TO </div> 
          <div id="uno-title" class="uno"> OHNO!</div>
      </div>
      
      <div id="third-row-container">
        <div id="login-input-container">
          <div id="username-container">
            <input type="text" id="username" placeholder="username">
          </div>
          <div id="password-container">
            <input type="text" id="password" placeholder="password">
          </div>
        </div>
        <div id="button-container">
          <div id="signup-btn-container">
            <button id="signup-btn">Sign Up</button>
          </div>
          <div id="login-btn-container">
            <button id="login-btn" >Login</button>
          </div>
        </div>
      </div>
      <div id="login-container-message">
        <div id="login-message"> Username taken. Please enter a different username.</div>
      </div>
    </div>
  </div> -->
  
  <div id="game">
    <!-- <div id="game-title-container">
      <div class="uno-game-title"> OHNO!</div>
    </div> -->
    <div id="opponent-container-1">
      <div class="opponent-container-card">
        <div class="opponent-card-outer">
          <div class="opponent-card-inner"> 
            <div class="card-text">OH NO!</div>
          </div>
        </div>
        <div class="opponent-card-outer">
          <div class="opponent-card-inner"> 
            <div class="card-text">OH NO!</div>
          </div>
        </div>
        <div class="opponent-card-outer">
          <div class="opponent-card-inner"> 
            <div class="card-text">OH NO!</div>
          </div>
        </div>
        <div class="opponent-card-outer">
          <div class="opponent-card-inner"> 
            <div class="card-text">OH NO!</div>
          </div>
        </div>
        <div class="opponent-card-outer">
          <div class="opponent-card-inner"> 
            <div class="card-text">OH NO!</div>
          </div>
        </div>
        <div class="opponent-card-outer">
          <div class="opponent-card-inner"> 
            <div class="card-text">OH NO!</div>
          </div>
        </div>
        <div class="opponent-card-outer">
          <div class="opponent-card-inner"> 
            <div class="card-text">OH NO!</div>
          </div>
        </div>
      </div>
      <div class="opponent-container-name">
        <div class="opponent-name">Bryan</div>
        <div class="opponent-card-count">Cards: 7</div>
      </div>
    </div>
    <div id="container-2-placement">
        <div id="opponent-container-2">
        <div class="opponent-container-card">
          <div class="opponent-card-outer">
            <div class="opponent-card-inner"> 
              <div class="card-text">OH NO!</div>
            </div>
          </div>
          <div class="opponent-card-outer">
            <div class="opponent-card-inner"> 
              <div class="card-text">OH NO!</div>
            </div>
          </div>
          <div class="opponent-card-outer">
            <div class="opponent-card-inner"> 
              <div class="card-text">OH NO!</div>
            </div>
          </div>
          <div class="opponent-card-outer">
            <div class="opponent-card-inner"> 
              <div class="card-text">OH NO!</div>
            </div>
          </div>
          <div class="opponent-card-outer">
            <div class="opponent-card-inner"> 
              <div class="card-text">OH NO!</div>
            </div>
          </div>
          <div class="opponent-card-outer">
            <div class="opponent-card-inner"> 
              <div class="card-text">OH NO!</div>
            </div>
          </div>
          <div class="opponent-card-outer">
            <div class="opponent-card-inner"> 
              <div class="card-text">OH NO!</div>
            </div>
          </div>
          
        </div>
        
        <div class="opponent-container-name">
          <div class="opponent-name">David</div>
          <div class="opponent-card-count">Cards: 7</div>
        </div>
      </div>
    </div>
    
    <div id="opponent-container-3">
      <div class="opponent-container-card">
        <div class="opponent-card-outer">
          <div class="opponent-card-inner"> 
            <div class="card-text">OH NO!</div>
          </div>
        </div>
        <div class="opponent-card-outer">
          <div class="opponent-card-inner"> 
            <div class="card-text">OH NO!</div>
          </div>
        </div>
        <div class="opponent-card-outer">
          <div class="opponent-card-inner"> 
            <div class="card-text">OH NO!</div>
          </div>
        </div>
        <div class="opponent-card-outer">
          <div class="opponent-card-inner"> 
            <div class="card-text">OH NO!</div>
          </div>
        </div>
        <div class="opponent-card-outer">
          <div class="opponent-card-inner"> 
            <div class="card-text">OH NO!</div>
          </div>
        </div>
        <div class="opponent-card-outer">
          <div class="opponent-card-inner"> 
            <div class="card-text">OH NO!</div>
          </div>
        </div>
        <div class="opponent-card-outer">
          <div class="opponent-card-inner"> 
            <div class="card-text">OH NO!</div>
          </div>
        </div>
        
      </div>
      <div class="opponent-container-name">
        <div class="opponent-name"> Hsiu Ping</div>
        <div class="opponent-card-count">Cards: 7</div>

      </div>
    </div> 

    <div id="discard-container">
      <!-- <div id="discard"> -->
      <div class="opponent-card-outer">
        <div class="opponent-card-inner"> 
          <div class="card num-9 blue">
            <div class="inner">
              <div class="mark">9</div>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>

    <div id="user-container">
      <div id="user-board">
        <div id="user-container-message">
          <div id="user-message">Invalid input. Please try again!</div>
        </div>
        <div id="user-container-all-cards">
          <div class="user-container-card">
            <div class="user-card-div">
              <!-- <div class="user-card"> -->
                <div class="card num-3 yellow">
                  <div class="inner">
                    <div class="mark">3</div>
                  </div>
                </div>
              <!-- </div> -->
                <div class="card num-reverse red">
                  <div class="inner">
                    <div class="mark-reverse">R</div>
                  </div>
                </div>
                <div class="card num-skip blue">
                  <div class="inner">
                    <div class="mark-skip">
                      <div class="skip-blue"></div>
                    </div>
                  </div>
                </div>
                <div class="card num-draw green">
                  <div class="inner">
                    <div class="mark-draw">
                      <div class="draw-green"></div>
                    </div>
                  </div>
                </div>
            
            </div>
              <div class="user-play-div">
                <div class="user-play"></div>
              </div>
          </div>
        </div>
        <div id="user-container-btn">
          <div id="play-btn-container">
            <button id="play-button">Play</button>
          </div>
          <div id="skip-btn-container">
            <button id="skip-button" >Skip</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="client.js"></script>
</body>
</html>