html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#game {
  background-color: rgb(155, 42, 42);
  height: 100%;
}

#game-title-container {
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
}

.uno-game-title {
  color: #ffee00;
  font-size: 75px;
  text-shadow: -7px 1px 0px black;
  font-family: "Cabin", sans-serif;
}

#opponent-container-1 {
  position: fixed;
  top: 3%;
  right: 40%;
  display: flex;
  flex-direction: column;
  max-width: 365px;
}

#opponent-container-2 {
  position: fixed;
  left: 7%;
  top: 30%;
  display: flex;
  flex-direction: column;
  max-width: 365px;
}

#opponent-container-3 {
  position: fixed;
  right: 7%;
  top: 30%;
  display: flex;
  flex-direction: column;
  max-width: 365px;
}

.opponent-container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 365px;
}

.opponent-card-outer {
  margin: 2px 0px 5px 0px;
  margin-right: -10px;
  height: 100px;
  width: 50px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.opponent-card-inner {
  height: 90px;
  width: 40px;
  background-color: red;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.card-text {
  min-width: 110px;
  color: #ffee00;
  font-size: 24px;
  text-shadow: -4px 0px 0px black;
  font-family: "Cabin", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
  z-index: 0;
}

.opponent-container-name {
  display: flex;
  justify-content: center;
}

.opponent-name {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(21, 26, 182);
  font-size: 24px;
  font-family: "Cabin", sans-serif;
  background-color: #ffee00;
  border-radius: 50%;
}

#discard-container {
  position: fixed;
  left: 49%;
  top: 30%;
}

#user-container {
  display: flex;
  justify-content: center;
  /* background-color: pink; */
  position: fixed;
  width: 100%;
  height: 40%;
  bottom: 0%;
}

#user-board {
  width: 75%;
  border-radius: 30px;
  background-color: rgb(164, 160, 160);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#user-container-message {
  display: flex;
  justify-content: center;
}
#user-message {
  color: white;
  font-family: "Cabin", sans-serif;
  font-family: "Press Start 2P", cursive;
}

#user-container-btn {
  display: flex;
  justify-content: space-around;
}
