html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#game {
  background-image: url("uno-pic.jpeg");
  height: 100%;
  display: none;
}

#opponent-container-1 {
  position: fixed;
  left: 13%;
  top: 30%;
  display: flex;
  flex-direction: column;
}

#container-2-placement {
  padding-top: 8px;
  display: flex;
  justify-content: center;
}

#opponent-container-2 {
  display: flex;
  flex-direction: column;
}

#opponent-container-3 {
  position: fixed;
  right: 13%;
  top: 30%;
  display: flex;
  flex-direction: column;
}

#opponent-container-card-1,
#opponent-container-card-2,
#opponent-container-card-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* max-width: 365px; */
}

.opponent-card-outer {
  margin: 2px 0px 5px 0px;
  margin-right: -10px;
  height: 100px;
  width: 70px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.opponent-card-inner {
  height: 92px;
  width: 62px;
  background-color: red;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.card-text {
  min-width: 110px;
  color: #ffee00;
  font-size: 14px;
  text-shadow: 2px 1px 1px black;
  font-family: "Cabin", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.opponent-container-name1,
.opponent-container-name2,
.opponent-container-name3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8%;
}

.opponent-name1,
.opponent-name2,
.opponent-name3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  text-shadow: 2px 1px black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Cabin", sans-serif;
}

.opponent-card-count1,
.opponent-card-count2,
.opponent-card-count3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  text-shadow: 2px 1px black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Cabin", sans-serif;
  width: fit-content;
}

#discard-container {
  width: 100%;
  height: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-container {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: fit-content;
  bottom: 1%;
}

#user-board {
  width: 90%;
  border-radius: 30px;
  background-color: #b89f5be9;
  border: 6px solid white;
  outline: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#user-container-message {
  display: flex;
  justify-content: center;
  margin: 4px 0px 4px 0px;
}
#user-message {
  color: white;
  font-size: 26px;
  text-shadow: 2px 1px black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Cabin", sans-serif;
}

#user-container-all-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.user-container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card:hover {
  transform: scale(1.2);
}

#user-container-btn {
  display: flex;
  justify-content: space-around;
}

.user-play {
  color: white;
  font-size: 18px;
  text-shadow: 2px 1px black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Cabin", sans-serif;
  padding: 1px 0px 7px 0px;
}

#play-button {
  background-color: #18a849;
  outline: 1px solid white;
  border-radius: 20%;
  color: white;
  border-radius: 5%;
  text-shadow: 2px 1px black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 5px 12px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 8px;
}

#play-button:hover {
  background-color: #46ed7e;
}

#skip-button {
  background-color: #c72a18;
  outline: 1px solid white;
  border-radius: 20%;
  color: white;
  border-radius: 5%;
  text-shadow: 2px 1px black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 5px 12px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 8px;
}

#skip-button:hover {
  background-color: #ff0000;
}
