html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*  ------------ 
--------------------------- LOGIN ------------
  ------------ */

#account {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 211, 211);
}

#login-container {
  padding: 15px;
  width: 60vw;
  height: 80vh;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-container-title {
  /* display: flex;
  justify-content: center; */
}

#login-title {
  color: rgb(215, 38, 0);
  font-size: 80px;
  text-shadow: -3px 0px 0px black;
  font-family: "Cabin", sans-serif;
  display: flex;
  justify-content: center;
}
#uno-title {
  display: flex;
  justify-content: center;
}

.uno {
  color: #ffee00;
  font-size: 180px;
  text-shadow: -7px 1px 0px black;
  font-family: "Cabin", sans-serif;
}

#login-container-message {
  margin-top: 30px;
}

#login-message {
  font-family: "Cabin", sans-serif;
  text-shadow: 1px 1px 0px grey;
}

#third-row-container {
  z-index: 4;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

#login-input-container {
  margin-right: 30px;
}

#button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*  ------------ 
--------------------------- GAME ------------
  ------------ */

#game {
  background-color: rgb(155, 42, 42);
  height: 100%;
}

#game-title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.uno-game-title {
  color: #ffee00;
  font-size: 75px;
  text-shadow: -7px 1px 0px black;
  font-family: "Cabin", sans-serif;
}

#opponent-container-1 {
  position: fixed;
  right: 40%;
  display: flex;
  flex-direction: column;
  max-width: 365px;
}

#opponent-container-2 {
  position: fixed;
  left: 7%;
  top: 40%;
  display: flex;
  flex-direction: column;
  max-width: 365px;
}

#opponent-container-3 {
  position: fixed;
  right: 7%;
  top: 40%;
  display: flex;
  flex-direction: column;
  max-width: 365px;
}

.opponent-container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 365px;
}

.opponent-card-outer {
  margin: 2px 0px 5px 0px;
  margin-right: -10px;
  height: 100px;
  width: 50px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.opponent-card-inner {
  height: 90px;
  width: 40px;
  background-color: red;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.card-text {
  min-width: 110px;
  color: #ffee00;
  font-size: 24px;
  text-shadow: -4px 0px 0px black;
  font-family: "Cabin", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
  z-index: 0;
}

.opponent-container-name {
  display: flex;
  justify-content: center;
}

.opponent-name {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(21, 26, 182);
  font-size: 24px;
  font-family: "Cabin", sans-serif;
  background-color: #ffee00;
  border-radius: 50%;
}

#discard-container {
  position: fixed;
  left: 49%;
  top: 46%;
}
