html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#account {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("uno-pic.jpeg");
  background-size: cover;
}

#login-container {
  margin-top: 100px;
  padding: 15px;
  width: 60vw;
  height: 80vh;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-title {
  color: rgb(215, 38, 0);
  font-size: 70px;
  font-family: "Cabin", sans-serif;
  display: flex;
  justify-content: center;
  text-shadow: 6px 1px black, 0 1px black, 1px 0 black, 0 -1px black;
  letter-spacing: 5px;
}
#uno-title {
  display: flex;
  justify-content: center;
}

.uno {
  color: #ffee00;
  font-size: 172px;
  text-shadow: 15px 1px black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Cabin", sans-serif;
  letter-spacing: 4px;
}

#login-container-message {
  margin-top: 30px;
}

#login-message {
  font-family: "Cabin", sans-serif;
  text-shadow: 1px 1px 0px grey;
  font-size: 25px;
  color: black;
  text-shadow: 2px 1px white;
}

#third-row-container {
  z-index: 4;
  margin: 100px 0px 150px 0px;
  display: flex;
  flex-direction: row;
}

#login-input-container {
  margin-right: 30px;
}

#username {
  border-radius: 5%;
  font-size: 25px;
  margin: 0px 38px 28px 0px;
  font-family: "Cabin", sans-serif;
  text-shadow: 0px 1px rgb(203, 203, 203);
}

#password {
  border-radius: 5%;
  font-size: 25px;
  margin-bottom: 8px;
  font-family: "Cabin", sans-serif;
  text-shadow: 0px 1px rgb(203, 203, 203);
}

#button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#signup-btn {
  background-color: #18a849;
  outline: 1px solid white;
  border-radius: 20%;
  color: white;
  border-radius: 5%;
  text-shadow: 2px 1px black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  font-size: 25px;
  margin-bottom: 28px;
}

#signup-btn:hover {
  background-color: #46ed7e;
}

#login-btn {
  background-color: #0063b3;
  outline: 1px solid white;
  border-radius: 20%;
  color: white;
  border-radius: 5%;
  text-shadow: 2px 1px black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  font-size: 25px;
  margin-bottom: 8px;
}

#login-btn:hover {
  background-color: #008cff;
}

@media screen and (max-width: 1024px) {
  #login-title {
    margin-top: 35px;
    font-size: 60px;
    text-shadow: 5px 1px black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: 3px;
  }

  .uno {
    font-size: 150px;
    text-shadow: 11px 1px black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: 3px;
  }

  #username,
  #password,
  #signup-btn,
  #login-btn {
    font-size: 20px;
  }
}
