.card-small .mark-draw {
  display: inline-block;
  vertical-align: middle;
  background: #ffffff;
  margin: auto;
  padding: 40px 30px;
  border-radius: 100px 60px / 120px 60px;
  line-height: 1.4;
}

.card-small.num-draw:before,
.card-small.num-draw:after {
  content: "+2";
  font-size: 12px;
}

.draw-red-small {
  height: 100%;
  position: absolute;
  left: 8px;
  top: 15px;
}
.draw-red-small:before {
  left: 22px;
  top: 10px;
}
.draw-red-small:after {
  top: 30px;
  left: 7px;
}
.draw-red-small:before,
.draw-red-small:after {
  content: "";
  display: block;
  width: 19px;
  height: 27px;
  background-color: #c72a18;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}

.draw-red-small:after {
  content: "";
  display: block;
  width: 19px;
  height: 27px;
  background-color: #c72a18;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}

.draw-yellow-small {
  height: 100%;
  position: absolute;
  left: 8px;
  top: 15px;
}
.draw-yellow-small:before {
  left: 22px;
  top: 10px;
}
.draw-yellow-small:after {
  top: 30px;
  left: 7px;
}
.draw-yellow-small:before,
.draw-yellow-small:after {
  content: "";
  display: block;
  width: 19px;
  height: 27px;
  background-color: #e6ca1e;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}

.draw-yellow-small:after {
  content: "";
  display: block;
  width: 19px;
  height: 27px;
  background-color: #e6ca1e;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}

.draw-green-small {
  height: 100%;
  position: absolute;
  left: 8px;
  top: 15px;
}
.draw-green-small:before {
  left: 22px;
  top: 10px;
}
.draw-green-small:after {
  top: 30px;
  left: 7px;
}
.draw-green-small:before,
.draw-green-small:after {
  content: "";
  display: block;
  width: 19px;
  height: 27px;
  background-color: #18a849;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}

.draw-green-small:after {
  content: "";
  display: block;
  width: 19px;
  height: 27px;
  background-color: #18a849;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}

.draw-blue-small {
  height: 100%;
  position: absolute;
  left: 8px;
  top: 15px;
}
.draw-blue-small:before {
  left: 22px;
  top: 10px;
}
.draw-blue-small:after {
  top: 30px;
  left: 7px;
}
.draw-blue-small:before,
.draw-blue-small:after {
  content: "";
  display: block;
  width: 19px;
  height: 27px;
  background-color: #0063b3;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}

.draw-blue-small:after {
  content: "";
  display: block;
  width: 19px;
  height: 27px;
  background-color: #0063b3;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}
