.card .mark-draw {
  display: inline-block;
  vertical-align: middle;
  background: #ffffff;
  margin: auto;
  padding: 105px 70px;
  border-radius: 100px 60px / 120px 60px;
  line-height: 1.4;
}

.card.num-draw:before,
.card.num-draw:after {
  content: "+2";
}

.draw-red {
  height: 100%;
  position: absolute;
  left: 21px;
  top: 45px;
}
.draw-red:before {
  left: 30px;
}
.draw-red:after {
  top: 40px;
}
.draw-red:before,
.draw-red:after {
  content: "";
  display: block;
  width: 65px;
  height: 85px;
  background-color: #c72a18;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}

.draw-red:after {
  content: "";
  display: block;
  width: 65px;
  height: 85px;
  background-color: #c72a18;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}

.draw-yellow {
  height: 100%;
  position: absolute;
  left: 21px;
  top: 45px;
}
.draw-yellow:before {
  left: 30px;
}
.draw-yellow:after {
  top: 40px;
}
.draw-yellow:before,
.draw-yellow:after {
  content: "";
  display: block;
  width: 65px;
  height: 85px;
  background-color: #e6ca1e;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}

.draw-yellow:after {
  content: "";
  display: block;
  width: 65px;
  height: 85px;
  background-color: #e6ca1e;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}

.draw-green {
  height: 100%;
  position: absolute;
  left: 21px;
  top: 45px;
}
.draw-green:before {
  left: 30px;
}
.draw-green:after {
  top: 40px;
}
.draw-green:before,
.draw-green:after {
  content: "";
  display: block;
  width: 65px;
  height: 85px;
  background-color: #18a849;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}

.draw-green:after {
  content: "";
  display: block;
  width: 65px;
  height: 85px;
  background-color: #18a849;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}

.draw-blue {
  height: 100%;
  position: absolute;
  left: 21px;
  top: 45px;
}
.draw-blue:before {
  left: 30px;
}
.draw-blue:after {
  top: 40px;
}
.draw-blue:before,
.draw-blue:after {
  content: "";
  display: block;
  width: 65px;
  height: 85px;
  background-color: #0063b3;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}

.draw-blue:after {
  content: "";
  display: block;
  width: 65px;
  height: 85px;
  background-color: #0063b3;
  border-radius: 10%;
  border: 5px solid white;
  position: absolute;
}
